APP_NAME=Proyecto 130
DATABASE_URL=sqlite:///./data/proyecto130.db
API_KEY=
PROJECT_LENGTH_DAYS=132
GOAL_WEIGHT_KG=90
PROJECT_START_DATE=2026-09-22
PROJECT_END_DATE=2027-02-01
DEFAULT_TIMEZONE=America/Bogota
